.idea
*.sh
*.gz
*.json
*.jsonl
cache
ckpt*
data_helpers/corpus/
data_helpers/corpus_d2q/
data_helpers/corpus_TILDE/
msmarco_passage_unicoil_encoded_TILDE_200/
msmarco_passage_unicoil_encoded_TILDE_200_decoded/
queries/
.DS_Store
